<% if(typeof usernameError != 'undefined'){%>

    <div class='message-bad'>

        <p><%= usernameError %></p>
       
    </div>

<% } %>

<% if(error !== '' && typeof error !== 'undefined') { %>

    <div>

        <p><%= error %></p>
       
    </div>

<% } %>

<% if(success_msg !== '') { %>

    <div>

        <p><%= success_msg %></p>

    </div>

<% } %>

<% if(error_msg !== '') { %>

    <div>

        <p><%= error_msg %></p>
       
    </div>

<% } %>